.page.theme_dark {
  --bg-image: var(--bg-image_dark, #100538);
  --bg-color: var(--bg-color_dark, #000028);
  --title-color: var(--title-color_dark, #db00ff);
  --shadow-color: var(--shadow-color_dark, #ff0070);
  --acent-color: var(--acent-color_dark, #ff0070);
  --text-color: var(--text-color_dark, #f1b2ce);
  --titel-text_color: var(--titel-text_color_dark, #000028);
  --menu_color: var(--menu_color_dark, #ff0070);
  --title-decor_color: var(--title-decor_color_dark, #ff0070);
  --rec_color: var(--rec_color_dark, #ff0070);
  --border-color: var(--border-color_dark, rgba(255, 0, 112, 0.4));
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: var(--bg-image_dark, #100538);
    --bg-color: var(--bg-color_dark, #000028);
    --title-color: var(--title-color_dark, #db00ff);
    --shadow-color: var(--shadow-color_dark, #ff0070);
    --acent-color: var(--acent-color_dark, #ff0070);
    --text-color: var(--text-color_dark, #f1b2ce);
    --titel-text_color: var(--titel-text_color_dark, #000028);
    --menu_color: var(--menu_color_dark, #ff0070);
    --title-decor_color: var(--title-decor_color_dark, #ff0070);
    --rec_color: var(--rec_color_dark, #ff0070);
    --border-color: var(--border-color_dark, rgba(255, 0, 112, 0.4));
  }
}
