.page {
  color: var(--text-color, #353430);
  font-family: var(--main-font, monospace);
  background-image: var(--bg-image, #fff1f7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  block-size: max(668px, 100vb);
  justify-items: end;
  align-items: start;
  position: relative;
  padding: var(--padding-header, 10px);
  font-size: 18px;
}

.header::after,
.footer::after {
  position: absolute;
  content: "";
  display: block;
  border-inline-start: 1px solid var(--menu_color, #353430);
  border-block-end: 1px solid var(--menu_color, #353430);
  block-size: 25px;
  inline-size: 25px;
  inset-block-end: var(--psevdo, 10px);
  inset-inline-start: var(--psevdo, 10px);
}

.header::before,
.footer::before {
  position: absolute;
  content: "";
  display: block;
  border-inline-end: 1px solid var(--menu_color, #353430);
  border-block-start: 1px solid var(--menu_color, #353430);
  block-size: 25px;
  inline-size: 25px;
  inset-block-start: var(--psevdo, 10px);
  inset-inline-end: var(--psevdo, 10px);
}

.header__bulb {
  position: absolute;
  align-items: center;
  display: flex;
  gap: 10px;
  color: var(--rec_color, #fff1f7);
  inset-block-start: var(--psevdo, 10px);
  inset-inline-end: var(--psevdo-inline, 20px);
  text-transform: uppercase;
}

.header__bulb::after {
  content: "";
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--rec_color, #fff1f7);
  box-shadow: 0 0 4px 2px var(--rec_color, #fff1f7);
}

.header__theme-menu {
  display: flex;
  align-self: center;
  flex-direction: column;
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0px 13px;
  text-transform: lowercase;
  color: var(--menu_color, #353430);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu_color, #353430);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu_color, #353430);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid;
  outline: none;
}

@media (width >= 768px) {
  .header__title {
    justify-self: start;
    margin-inline-start: -20px;
  }
}

@media (width >= 1024px) {
  .header__title {
    align-self: end;
  }
}

.title-decor {
  color: var(--title-color, #ffc2e6);
  text-shadow: 4px 4px 0 var(--shadow-color, #ff0070);
  font-size: var(--logo-size, 116px);
  line-height: 82.5%;
}

.header__text {
  background-color: var(--acent-color, #ff8dcb);
  font-weight: 700;
  align-self: center;
  max-inline-size: 364px;
  color: var(--titel-text_color, #000028);
}

@media (width >= 1024px) {
  .header__text {
    max-inline-size: 491px;
  }
}

.main {
  display: grid;
  gap: var(--gap-main, 50px);
  padding-block: var(--padding-main_block, 40px);
  padding-inline: var(--padding-main_inline, 10px);
  font-size: 18px;
  line-height: 23.4px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-title {
  background-color: var(--acent-color, #ff8dcb);
  font-size: 18px;
}

.main__title-decor {
  color: var(--title-decor_color, #353430);
  font-size: inherit;
}

.section__list-item {
  list-style: none;
}

.main__section-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section-link {
  text-shadow: 2px 2px 0 var(--acent-color, #ff8dcb);
  text-decoration: none;
}

.main__section-link:hover {
  text-decoration: underline;
  outline: 1px solid var(--menu_color, #353430);
}

.main__section-link:focus {
  text-decoration: underline;
}

@media (width >= 768px) {
  .reasons,
  .adviсe {
    grid-template-columns: 236px 1fr;
  }
}

@media (width >= 768px) {
  .factors {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width >= 1024px) {
  .reasons,
  .adviсe {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.resons__list,
.factors__list,
.adviсe__list {
  display: grid;
  gap: 20px;
}

@media (width >= 1024px) {
  .resons__list {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (width >= 768px) {
  .factors__list {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media (width >= 1024px) {
  .factors__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width >= 1024px) {
  .adviсe__list {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.main__section-title-under {
  margin-block-end: 10px;
}

.gallery {
  display: grid;
  gap: var(--gap-gallery, 10px);
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >= 768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.gallery__list-item {
  list-style: none;
}

.gallery__list-item:nth-of-type(1),
.gallery__list-item:nth-of-type(5) {
  grid-column: span 2;
}

.gallery__list-item:nth-of-type(2),
.gallery__list-item:nth-of-type(3) {
  grid-row: span 2;
}

.gallery__list-item-picture {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  block-size: max(668px, 100vb);
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer__title {
  grid-column-start: 2;
}

.footer .title-decor {
  text-shadow: 2px 2px 0 var(--shadow-color, #ff0070);
}
