:root {
  --bg-image_light: url(../images/cover-image-light.png);
  --bg-color_light: #fff1f7;
  --title-color_light: #ffc2e6;
  --shadow-color_light: #ff0070;
  --acent-color_light: #ff8dcb;
  --text-color_light: #353430;
  --titel-text_color_light: var(--text-color_light, #353430);
  --menu_color_light: var(--text-color_light, #353430);
  --title-decor_color_light: var(--text-color_light, #353430);
  --rec_color_light: #fff1f7;

  --bg-image_dark: url(../images/cover-image-dark.png);
  --bg-color_bark: #000028;
  --title-color_dark: #db00ff;
  --shadow-color_dark: #ff0070;
  --acent-color_dark: #ff0070;
  --text-color_dark: #f1b2ce;
  --titel-text_color_dark: #000028;
  --menu_color_light_dark: var(--acent-color_dark, #ff0070);
  --title-decor_color_dark: var(--acent-color_dark, #ff0070);
  --rec_color_dark: var(--acent-color_dark, #ff0070);

  --main-font: "IBM Plex Mono";

  --bg-image: var(--bg-image_light, #fff1f7);
  --bg-color: var(--bg-color_light, #fff1f7);
  --title-color: var(--title-color_light, #ffc2e6);
  --shadow-color: var(--shadow-color_light, #ff0070);
  --acent-color: var(--acent-color_light, #ff8dcb);
  --text-color: var(--text-color_light, #353430);
  --titel-text_color: var(--titel-text_color_light, #353430);
  --menu_color: var(--menu_color_light, #353430);
  --title-decor_color: var(--title-decor_color_light, #353430);
  --rec_color: var(--rec_color_ligh, #fff1f7);
}
